/* Styles Modal and Form Information */
.LoginModal,
.SettingsModal {
  display: none;
  background-color: rgba(0, 0, 0, 0.6);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
}
.LoginModal .SettingsForm,
.SettingsModal .SettingsForm {
  height: 545px;
}
.LoginModal form,
.SettingsModal form {
  background-color: lightblue;
  width: 400px;
  height: 350px;
  margin: auto;
  padding: 20px;
  border-radius: 1em;
  border: 2px double cadetblue;
  position: relative;
}
.LoginModal form .exitModal,
.SettingsModal form .exitModal {
  position: absolute;
  float: right;
  top: 15px;
  right: 15px;
  cursor: pointer;
  color: #8285d4;
}
.LoginModal form .exitModal:hover,
.SettingsModal form .exitModal:hover {
  color: #5b989a;
}
.LoginModal form hr,
.SettingsModal form hr {
  border: 1px double cadetblue;
  margin-top: 5px;
}
.LoginModal form p,
.SettingsModal form p {
  margin-top: 15px;
  margin-bottom: 15px;
}
.LoginModal form label,
.SettingsModal form label,
.LoginModal form input,
.SettingsModal form input {
  margin-bottom: 10px;
}
.LoginModal form label,
.SettingsModal form label {
  font-weight: bold;
  display: block;
}
.LoginModal form input,
.SettingsModal form input {
  padding: 5px;
  width: 400px;
  height: 50px;
  border-radius: 1em;
  font-size: 1em;
}
.LoginModal form input:focus,
.SettingsModal form input:focus {
  border-radius: 1em;
  outline: none;
}
.LoginModal form #LoginSubmit,
.SettingsModal form #LoginSubmit,
.LoginModal form #Edit,
.SettingsModal form #Edit {
  background-color: #8285d4;
  border: 2px double cadetblue;
  margin-top: 20px;
  font-size: 1.5em;
  font-weight: bold;
  color: white;
}
.LoginModal form #LoginSubmit:hover,
.SettingsModal form #LoginSubmit:hover,
.LoginModal form #Edit:hover,
.SettingsModal form #Edit:hover {
  background-color: #5b989a;
}
/* Styles Everything */
*,
html {
  margin: 0;
  padding: 0;
}
/* Styles HTML */
html {
  font-family: 'Roboto', sans-serif;
}
/* Styles Content-Wrapper */
.Content-Wrapper {
  padding: 15px;
  /* Styles Horizontal Lines */
}
.Content-Wrapper hr {
  border: 1px double lightblue;
  margin-bottom: 15px;
}
/* Styles Header Information */
header {
  background-color: lightblue;
  width: 100%;
  height: 100px;
}
header .LogInOut-Container {
  float: right;
  margin-right: 50px;
}
header .settings {
  display: none;
  float: right;
}
header .settings:link {
  color: black;
  float: right;
}
header span {
  cursor: pointer;
  margin-left: 15px;
  font-weight: bold;
}
header span:hover {
  font-weight: bolder;
  text-shadow: 1px 1px 1px white;
}
header .LogOut {
  display: none;
}
/* Styles Company Name */
h1 {
  font-size: 2em;
  margin-left: 15px;
  padding-top: 10px;
}
/* Styles Main Headings */
h2 {
  font-size: 1.5em;
}
/* Styles Log In/Log Out Information */
h3 {
  font-size: 1em;
  margin-right: 15px;
  margin-top: 25px;
}
